body {
	background-color: #fff;
	color: #000000;	
	font-family: 'Istok Web', Helvetica, Arial, FreeSans, sans-serif;
	font-size: 0.9em;
	margin: 0px;
}


/* div magic styles */
.left {
	float: left;
}

.right {
	float: right;
	right: 0;
	width: 180px;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}


#toolbar {
	background: #06f;	
	margin: 0px;
	padding: 0px;		
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
}

#content {
	margin-top: 50px;
	padding: 0px;
	width: 100%;
	overflow: hidden;	
}

#message {
	padding-left: 10px;
	font-size: .9em;	
	color: #f60;	
}

.progress {
	border: solid 1px #AACFE4;
	height: 4px;
	width: 100%;
	margin-bottom: 2px;
}

.progress-bar {
	background-color: #39f;
	height: 4px;
	width: 1px;
}

/* data vis container styles */
.container {
 padding: 0px;
 margin: 0px;
 width: 100%;
}

.map, .data, .graph {
	background-color: #eee;
	border: solid 1px #AACFE4;
	border-radius: 0px;
	box-shadow: 0px 0px 10px #ccc;	
	margin: 0px;	
	overflow: hidden;
}

.data {
	overflow-y: scroll;
}


/* menu link styles */
a {
	color: #06f;
  text-decoration: none;	
}

.menu {
	margin: 0px;
	margin-left: 2px;
	padding: 0px;
	list-style-type: none;	
}

.menu li {
	display: inline;
	line-height: 50px;
	margin: 0px;
	padding: 0px;	
}

.menu li a {
	background-color: #39f;
	color: #fff;	
  border: 0px;
	font-size: 0.9em;	
	font-weight: normal;	
	margin: 0px;
  padding: 15px;
  text-decoration: none;
}

.menu li a:hover, .menu li[class=active]  a {
	background-color: #f60;
	color: #fff;
}


/* data list item styles */
.data-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.data-list > li {
 	border: solid 1px #ccc;
	border-collapse: collapse;
	background-color: #fff;
	margin: 0px;
}

.data-list li[class=selected] {
	background-color: #e0e0e0;
}

.list-tem {
	display: table-cell;
	vertical-align: top;
}

.map-link, .list-item-link {
	padding: 0px;
	margin: 0px;
}

.list-item-text {
	font-size: 0.9em;	
	padding: 5px;
	margin: 5px;
}


/* app text elements + link styles */
.footer, .label {
	font-size: .8em;	
	color: #333;
	margin: 5px;
}

.popup-content {
	display: inline;
	width: 100%;
	font-size: 1.2em;
}

.date {
	font-size: 0.8em;	
}

.link {
	font-size: 0.9em;
	color: #06f;
}

.hits {
	display: inline;
	width: 100%;
	font-size: .9em;
}

.bar {
	width: 5px;;
}


/* data color coding styles */
.red {
	color: #f00;
}

.orange {
	color: #f60;
}

.green {
	color: #0c0;
}

.blue {
	color: #06f;
}


/* graph styles */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}

.area {
  fill: steelblue;
}

.line {
  fill: none;
  stroke: #f60;
  stroke-width: 1.5px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
	fill: #f60;
}

.legend {
	padding: 5px;
	font: 10px sans-serif;
	background: yellow;
	box-shadow: 2px 2px 1px #888;
}
