/* data vis container styles */
.container {
 clear: both;	
 padding: 0px;
}

.map, .data, .graph {
	background-color: #eee;
	border: solid 1px #AACFE4;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;	
	font-family: 'Droid Sans Mono', courier;
	margin: 10px;	
	overflow: hidden;
}

.map, .data {
	min-height: 580px;
	max-height: 580px;
}

.data {
	overflow-y: scroll;
}

.graph {
	height: 180px;
	overflow-x: auto;
}


/* app text elements + link styles */
.note, .label {
	font-size: .6em;	
	color: #333;
}

.date {
	font-size: 1.0em;	
}

.story-link {
	font-size: 1.1em;
}


/* stats bar styles */

.popup-content {
	display: inline;
	width: 100%;
	font-size: 1.2em;
}

.hits {
	display: inline;
	width: 100%;
	font-size: .9em;
}

.bar {
	width: 5px;;
}


/* data color coding styles */
.red {
	color: #f00;
}

.orange {
	color: #f60;
}

.green {
	color: #0c0;
}

.blue {
	color: #06f;
}


/* graph styles */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}

.area {
  fill: steelblue;
}

.line {
  fill: none;
  stroke: #f60;
  stroke-width: 1.5px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
	fill: #f60;
}

.legend {
	padding: 5px;
	font: 10px sans-serif;
	background: yellow;
	box-shadow: 2px 2px 1px #888;
}
