body {
	background-color: #39f;
	color: #000000;	
	font-family: 'Istok Web', Helvetica, Arial, FreeSans, sans-serif;
	margin: 0px;	
}

/* page section styles */
#toolbar {
	background: #06f;	
	box-shadow: 3px 3px 5px #444;	
	margin: 0px;
	padding: 10px;		
	position: fixed;
	top: 0px;
	width: 100%;
}


#content {
	background: whiteSmoke;	
	border-radius: 5px;
	box-shadow: 3px 3px 5px #444;	
	margin: 20px;
	margin-top: 80px;
	padding: 20px;
}

/* header styles */
h1 {
	color: #fff;	
	font-family: 'Maven Pro', Helvetica;
	font-size: 1.5em;	
	font-weight: normal;
	margin: 5px;	
}

h1 .small {
	font-size: 0.4em;
}

h1 a {
	text-decoration: none
}

/* card/title styles */
.card-title {
	font-size: 1.5em;
}

.card {
	height: 100%;
	width: 100%;
}

.left {
	float: left;
	width: 80%;
}

.right {
	float: right;
	right: 0;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* seciton title/msg bar styles */
.title-bar {
	height: 50px;
	width: 100%;	
}

.message {
	color: #f60;
	font-size: 1.2em;	
	font-weight: normal;	
	margin: 10px;
	width: 80%;
}

/* menu link styles */
a {
	color: #06f;
}

ul {
	list-style-type: none;
	margin: 10px;
	padding: 5px;
}

li {
	display: inline;
}

li a {
  border-radius: 4px 4px 0 0;	
	font-size: 1.2em;	
	font-weight: normal;	
  padding: 10px;
  text-decoration: none;
}

li a:hover {
	background-color: #39f;
	color: #fff;
}

li a:active, .selected {
	background-color: #f60;
	color: #fff;
}
